<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="header"></div>
<head>
    <title>Blog - inicio</title>
</head>
<body>
<div class="container-fluid">
    <form class="d-flex py-2 px-2" action="/search" method="post">
        <input class="form-control me-2 " name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning mx-2" type="submit">Search</button>
    </form>

</div>
<div th:if="${error != null }"  class= "alert alert-secondary container-fluid" role="alert">
<p th:utext="${error}"></p>
</div>


<div class="container-fluid mx-2 my-2">
    <div class="table-responsive-sm bg-light">
        <table class="table">
            <thead class="bg-dark text-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha de Creacion</th>
                <th scope="col">Categoria</th>
                <th scope="col">imagen</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each= "post: ${listPost}">
                <td><a th:href="@{/details(idPost=${post.id})}" th:text="${post.id}"></a> </td>
                <td th:text="${post.title}"/>
                <td th:text="${post.creationDate}"/>
                <td th:text="${post.category}"/>
                <td><img th:src="@{/img/{image}(image=${post.image})}" height="42" width="42"></td>
                <td><a th:href="@{/modify(idPost=${post.id})}"   class="btn btn-dark">Modificar</a> </td>
                <td><a th:href="@{/delete(idPost=${post.id})}" class="btn btn-danger">Borrar</a> </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

</body>
</html>
