<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="header"></div>
<head>
    <title>Blog - busqueda</title>
</head>
<body>
<div class="container-fluid">
    <h2 class="text-center mx-2">Se ha encontrado el siguente post: </h2>
</div>
<div class="container-fluid mx-2 my-2">
     <div class="table-responsive bg-light">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha de Creacion</th>
                <th scope="col">Categoria</th>
                <th scope="col">imagen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each= "post: ${listPost}">
                <td><a th:href="@{/details(idPost=${post.id})}" th:text="${post.id}"></a> </td>
                <td th:text="${post.title}"/>
                <td th:text="${post.creationDate}"/>
                <td th:text="${post.category}"/>
                <td th:text="${post.image}"/>

            </tr>
            </tbody>
        </table>
    </div>


</div>

</body>
</html>
